#board {
	background-color: gray;
	width: 800px;
	height: 600px;
	overflow: visible;
	text-align: center;
	margin: 0px auto;
}

body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

.piece {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: white;
	padding: 10px;
}

.playerPiece {
	left: 0px;
	top: 0px;
	pointer-events:none;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	margin: 10px;
	position: relative;
	z-index: 10;
}

.playerOne {
	background: #bf4040;
}

.playerTwo {
	background: #4040bf;
}

table {
    border-collapse: collapse;
}

.item {
	width: 100px;
	height: 100px;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.mask {
	background-image: url('../mask.png');
	background-size: 100px 100px;
	height: 100px;
	width: 100px;
	pointer-events: none;
	position: absolute; 
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.ihover { 
	margin: 10px;
}

.ihover.one {
	background-color: #d17676;
}
.ihover.two {
	background-color: #7676d1;
}
