#host {
	background-color: #000;	
	height: 100%;
	min-height: 100%;
}

.masker {
	width: 100%;
	height: 100%;
	background-image: -webkit-radial-gradient(center center, circle contain, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.9) 100%); /* New WebKit syntax */  
	/* Other Fallback: */
	background-image: -webkit-gradient(radial, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0.7)));
}

.stripes {
	height: 100%;
	width: 100%;
	background-size: 150px 150px; /* Controls the size of the stripes */
}

.angled {
	background-color: #ac0;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
						transparent 75%, transparent);
}

.homepage section[role=main] {
    margin-left: 120px;
}

html {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
	user-select: none;
}

#main {
	padding-top: 50px;
}

#eltable {
	margin: 0px auto;
}

.startNew {
	margin-top: 50px;
}

.title {
	font-size: 3em;
	font-weight: 100;
}

.details {
	margin-top: 40px;
	font-size: 1.5em;
	font-weight: 100;
}

.winner {
	box-sizing:border-box;
	padding: 100px;
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 700px;
	height: 600px;
	-webkit-transition: opacity 1s ease;
	position: absolute;
	left: 50%;
	margin-left: -350px;
	z-index: 5000;
	visibility: hidden;
	color: #fff;
	text-align: center;
}
.winner.showing {
	visibility: visible;
	opacity: 1;
}
.winner.hidden {
	opacity: 0;
}
/* The "You Won!" text */
.winner > h1 {
	
}

.piece {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: white;
	padding: 10px;
}

.playerPiece {
	left: 0px;
	top: 0px;
	pointer-events:none;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	margin: 10px;
	position: relative;
	z-index: 10;
}

table {
    border-collapse: collapse;
}

.item {
	width: 100px;
	height: 100px;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.ihover { 
	margin: 10px;
}
